<% provide(:title, "Edit Facility") %>
<h1>Edit Facility</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@facility) do |f| %>
      <%= render 'facility_fields', f: f %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>