<% provide(:title, @facility.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @facility.name %></h1>
      <h1><%= @facility.district.name %></h1>
      <h1><%= @facility.facility_type.name %></h1>
    </section>
  </aside>
  <div class="span8">
    
  </div>
</div>