<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">EQA Results</h1>

  <div class="row placeholders">
    <div class="span6">
      <%= pie_chart({"Successful (95-100)" => 75, "Satisfactory (90-95)" => 10, "Unsatisfactory (<90)" => 15}) %>
      <h4 class="graph-label">Facility Performance</h4>
    </div>
    <div class="span6">
      <%= column_chart({"Dodoma" => 20, "Arusha" => 40, "Kagera" => 30}) %>
      <h4 class="graph-label">Results received by region</h4>
    </div>
  </div>

  <h2>Facilities</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Facility</th>
          <th>District</th>
          <th>Region</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <%= render @results %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>