
  <h1 class="page-header">EQA Results</h1>

  <div class="row placeholders">
    <div class="span6">
      <%= pie_chart(populate_pie_chart) %>
      <h4 class="graph-label">Facility Performance</h4>
    </div>
    <div class="span6">
      <%= column_chart(populate_bar_chart) %>
      <h4 class="graph-label">Results received by region</h4>
    </div>
  </div>

  <h3 class="center">Facilities</h3>

  <% if @results.empty? %>

    <h4 class="muted center">No results</h4>

  <% else %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Facility</th>
          <th>District</th>
          <th>Region</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <%= render result %>
        <% end %>
      </tbody>
    </table>
  </div>

  <span class="center"><%= will_paginate @results %></span>

  <% end %>