<footer class="footer">
  <small>
    <a href="https://plus.google.com/+aronkondoro">MoHSW - EQA</a>
    by Aron Kondoro
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", "http://www.vastech.co.tz/?q=contact" %></li>
    </ul>
  </nav>
</footer>