<footer class="footer">
  <small>
    <a href="https://plus.google.com/+aronkondoro">MDH - EQA</a>
    by Aron Kondoro
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.vastech.co.tz/">News</a></li>
    </ul>
  </nav>
</footer>